
.navbar
{
  background-color:skyblue;
  text-align: center;
  height: 80px;
  align-items: stretch;
}
.img
{
  margin-left:12px;
}
.nav-link
{
  font-size: 25px;
  float: right;
  font-weight: bold;
 
}

.navbar-nav
{
 margin-left:40px;
}
